html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* fonts */

@font-face {
  font-family: "Muller";
  src:local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:local("Muller-light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src:local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* body */

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.sec-title {
  margin: 0;
  margin-bottom: 20px;
}

.sec-descr {
  margin: 0;
  margin-bottom: 130px;
}

.section-offset img {
  padding-top: 0;
  padding-bottom: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.arrow-logo {
  vertical-align: middle;
}

.block_el {
  display: block;
}

/* header */

.header {
  margin: 30px 0;
}

.cabinet {
  margin-left: auto;
  color: #cc9933;
  font-size: 16px;
}

.phone-number {
  margin-left: 40px;
  color: #666666;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
}

.header__top {
  align-items: center;
}

/* nav */

.navigation {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 14px 45px;
  margin-top: 30px;
}

.list-item {
  margin-right: 45px;
}

.btn {
  margin-right: 45px;
  padding: 13px 20px;
  border: 1px solid #cc9933;
  color: #cc9933;
  font-size: 16px;
  border-radius: 15px;
}

.btn:last-child {
  margin-right: 0;
}

.buttons {
  display: flex;
}

/* section special-offers */

.section-special-offers {
  margin-top: 70px;
}

.picture {
  width: 573px;
  border-radius: 15px;
  overflow: hidden;
  padding: 40px 108px 40px 45px;
}

.picture a {
  color: #f0bf5f;
  font-size: 16px;
  line-height: 16px;
}

.container-special-offers {
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-offers {
  margin: 0 0 20px 40px;
  font-weight: 400;
  font-size: 40px;
}

.maldivs {
  background-image: url("../img/Maldivs.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
}

.tour_Crete {
  background-image: url("../img/seaside.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.luxury {
  background-image: url("../img/hotel-numbers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 212px 229px 40px 45px;
}

.picture-title {
  color: #fff;
  font-size: 40px;
  max-width: 420px;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 700;
}

.picture .more {
  margin-bottom: 40px;
}

.luxury_title {
  max-width: 299px;
  font-size: 60px;
}

.price {
  margin-top: 0;
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
  margin-bottom: 47px;
}

.luxury .price {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

/* section about us */

.sec-text {
  margin-top: 70px;
  margin-bottom: 70px;
}

.sec-title {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
}

.section__context {
  max-width: 888px;
  margin-top: 20px;
}

.section__context .text {
  line-height: 32px;
  font-size: 16px;
  margin: 0;
}

/* Services*/

.services__list {
  flex-wrap: wrap;
}

.service-item {
  width: 573px;
  margin-right: 0;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 24px;
  margin-right: 24px;
}

.services__list li:nth-child(2n) {
  margin-right: 0;
}

.service-item a {
  color: #cc9933;
  font-size: 20px;
}

.service-item p {
  line-height: 32px;
  font-size: 16px;
}

.service-item .image {
  width: 100%;
  height: 163px;
}

.service-text {
  margin-bottom: 0;
}

.exclusive__service {
  background-image: url("../img/service1-bg.png");
}

.rent {
  background-image: url("../img/service-2-bg.png");
}

.swimming__pools {
  background-image: url("../img/service-3-bg.png");
}

.car__parks {
  background-image: url("../img/service-4-bg.png");
}

.container-services h2 {
  color: #333333;
  font-size: 40px;
  padding-left: 40px;
  font-weight: 400;
}

.service__item__content {
  padding: 26px 126px 35px 45px;
}

.service__item__content a {
  font-weight: 500;
}

/* Advantage */

.advantage-sec {
  margin-top: 70px;
}

.advantage {
  flex-wrap: wrap;
}

.advantage-item {
  width: 276px;
  padding-right: 22px;
  border-radius: 15px;
  background-color: #fff;
  padding: 116px 42px 32px 45px;
  margin: 0px 22px 22px 0px;
  background-repeat: no-repeat;
  background-position: 42px 45px;
}

.advantage-item .item-text {
  margin-bottom: 0;
}

.advantage-item:nth-child(4n) {
  margin-right: 0px;
}

.item-text {
  line-height: 32px;
  font-size: 16px;
}

.bathtub {
  background-image: url("../img/bathtub.svg");
}

.hanger {
  background-image: url("../img/hanger.svg");
}

.heating {
  background-image: url("../img/heating.svg");
}

.hotel_key {
  background-image: url("../img/hotel-key.svg");
}

.parking {
  background-image: url("../img/parking.svg");
}

.reception {
  background-image: url("../img/reception.svg");
}

.security-box {
  background-image: url("../img/security-box.svg");
}

.swimming {
  background-image: url("../img/swimming-pool.svg");
}

/* accommodation */

.accommodation {
  margin-top: 70px;
}

.accommodation-list {
  flex-wrap: wrap;
}

.accommodation-item {
  margin-right: 24px;
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 15px;
}

.hotel_picture {
  display: block;
}

.accommodation-item:nth-child(3n) {
  margin-right: 0;
} 
/* 
ul li:nth-last-child(1),
ul li:nth-last-child(2),
ul li:nth-last-child(3) {
  margin-bottom: 0;
} */

.accommodation__item__content {
  padding: 32px 45px 45px 45px;
}

.see__all {
  background-image: url("../img/all-variants-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 374px;
  padding: 373px 54px 27px 54px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.see__all a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.hotel_number {
  padding: 13px 20px;
  border: 1px solid #cc9933;
  display: inline-block;
}

.text_stars p {
  margin: 0;
}

.text_stars {
  justify-content: space-between;
  margin-bottom: 16px;
}

.context {
  font-size: 16px;
  color: #000;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0;
}

.country, .from {
  color: #999999;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0;
}

.from__price {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

/* Form */

.form_content {
  margin-top: 70px;
  background-color: #e9e9e9;
  padding: 45px;
  border-radius: 15px;
}

.ticket {
  padding: 31px 28px;
  background-color: #fff;
  border-radius: 15px;
  width: 1080px;
}

.fill_question_char {
  border-bottom: 1px solid #E9E9E9;
  border-top: none;
  border-right: none;
  border-left: 1px none;
  background-color: inherit;
}

.select_loc {
  background-color: inherit;
  border: none;
  width: 169px;
}

.form__input {
  margin-right: 41px;
  width: 169px;
}

.form__input label {
  display: block;
  margin: 0 0 15px 5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.form__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.find_ticket {
  display: inline-block;
  padding: 13px 30px;
  background-color: inherit;
  cursor: pointer;
}

.data, .nights, .tourists {
  width: 121px;
}

/* contacts */

.contacts {
  margin-top: 70px;
}

.contacts_container {
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
  padding: 45px 53px 22px 45px;
}

.contacts_list {
  padding: 0;
}

.contacts_right {
  width: 653px;
  height: 528px;
  background-image: url("../img/contacts_picture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_item {
  width: 375px;
  margin-top: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #E9E9E9;
}

.contact_item:first-child {
  margin-top: 0;
}

.contact_item_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.sec__main__title_parent {
  width: 1170px;
  margin: 0 auto;
}

.contact_item_context {
  width: 229px;
  margin-bottom: 23px;
}

.phone_address {
  margin-top: 0;
}

.graph_text {
  width: 214px;
}

.con_text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.contacts_link {
  color: #CC9933;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.subtext {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.route {
  border-bottom: none;
}

.create_route {
  margin-top: 20px;
  padding: 27px 29.5px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 15px;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
}

.email_text {
  padding: 25px 0 23px 47px;
}

/* footer */

footer {
  margin-top: 40px;
}

.footer_container {
  border-radius: 15px;
  background-color: #333;
  padding: 45px;
  background-image: url("../img/footer_logo.svg");
  background-position: 80% 100%;
  background-repeat: no-repeat;
}

.footer_text {
  color: #fff;
  font-size: 16px;
  line-height: 30.4px;
  font-weight: 400;
  max-width: 302px;
  margin: 37px 0 0 0;
}

.footer_address {
  margin-right: auto;
}

.footer_right {
  flex-direction: column;
}

.footer_text:first-child {
  margin-top: 0;
}

.using {
  margin-top: 40px;
}

.footer_left {
  margin-right: 125px;
}

.footer_address_text {
  max-width: 359px;
  margin-top: 0;
}

.footer_tel_addresses {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer_email {
  padding: 0;
}

.social_item {
  list-style: none;
  margin-bottom: 20px;
}

.social_item:nth-child(3n) {
  margin-bottom: 0;
}